'.source.lua':

  'Cart tags':
    'prefix': 'tags'
    'body':
      """
      -- title:  ${1:game title}
      -- author: ${2:game developer}
      -- desc:   ${3:short description}
      -- script: lua
      ${4}
      """

  'Increment':
    'prefix': 'inc'
    'body': '${1:var} = ${1:var} + ${2:1}'



'.source.js':

  'Cart tags':
    'prefix': 'tags'
    'body':
      """
      // title:  ${1:game title}
      // author: ${2:game developer}
      // desc:   ${3:short description}
      // script: js
      ${4}
      """
