"""
atom-text-editor[data-grammar="source lua"],
atom-text-editor[data-grammar="source js"],
atom-text-editor[data-grammar="source moon"],
atom-text-editor[data-grammar="source fennel"],
atom-text-editor[data-grammar="source wren"],
atom-text-editor[data-grammar="source squirrel"],
atom-workspace atom-pane.pane[data-active-item-name$=".tic"]
""":
  'ctrl-r': 'tic80:run-file'
