scopeName: 'source.moon.tic80'
name: 'MoonScript TIC-80'
fileTypes: ['moon']
injections:
  'L:source.moon - (comment | string)':
    patterns: [
      {
        include: '#api'
      }
    ]
patterns: [
  {
    include: '#other'
  }
  {
    include: 'source.moon'
  }
]
