scopeName: 'source.nut.tic80'
name: 'Squirrel TIC-80'
fileTypes: ['nut']
injections:
  'L:source.nut - (comment | string)':
    patterns: [
      {
        include: '#api'
      }
    ]
patterns: [
  {
    include: '#other'
  }
  {
    include: 'source.nut'
  }
]
